.errmsg{
color: red;
font-size: 12px;
/* font-family: 'Numans',sans-serif,Tit; */
font-family: 'Titillium Web', sans-serif;
}

option {
    height: 30px;
    line-height: 30px;
}

.editOption{
    width: 90%;
    height: 26px;
    position: relative;
    top: -29px;
    border: 0;
    padding-left: 5px;
}
input,select{
    border:none;
    border-bottom: solid black 1px;
    outline:none;
}
.font{
    font-family: 'Titillium Web', sans-serif;

}

